*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right, black , blue);
}

/* personal information */
#personal-info{
    /* background-color: rgb(107, 6, 6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

#personal-div{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    gap: 20vw;
    /* background-color: black; */
}
#personal-img{
    border-radius: 50%;
    margin-left: 10px;
    transition: all 0.5s ease;
   
}
img{
    width:300px;
    height: 300px;
   

}
#personal-img:hover{
    transform: scale(1.2);
}



#personal-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15vw;
    /* width: 40vw; */
    margin-bottom: 10px;
    margin-top: 10px;
}

/* search bar */
#search-bar{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 20px;
    width: 97%;
    border-radius: 20px;
    margin-bottom: 10px;
   
    
}
input{
    height:5vh;
    color: burlywood;
    width: 18vw;
    border-radius: 20px;
    border-style: none;
    background-color: white;
    border: 3px solid red;
    background:linear-gradient(to right, black , blue);
}
/* button */
button{
    background:linear-gradient(to right, black , blue);
    border-radius: 20px;
    border: 2px solid black;
    height:5vh;
    width: 7vw;
    font-size:20px;
    color: rgb(4, 46, 46);
     box-shadow: 0px 0px 15px  black;
     transition: all 0.5s ease;
     border: 1px solid white;
     color: white;
}

button:hover{
    transform: scale(1.2);
}


/* dynamic card manupulation */
.card{
    opacity: 0;
    transform: translateY(-30px);
    animation: dropDown 2s ease forwards;
}

@keyframes dropDown{
    from{
        opacity: -1;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(10px);
    }
}


/* followers card manupulation */

#follow-info{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin: 0 4vw 4vw 4vw;
        

       
    }

    /* footer */

    #footer{
        color: white;
        text-align: center;
        margin-top: 60vh;
    }



@media (max-width: 768px) {
    #personal-div {
        flex-direction: column; /* Stacks image on top of details */
    }
    
    #personal-details {
        width: 90%;
        margin-right: 0;
    }

    #search-bar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2vh;
    }

    input{
        width: 70vw;
    }
    button{
        width: 50vw;
    }
    h2{
       text-align: center;
    }

    #follow-info{
        display: flex;
        flex-direction: column;
        gap: 20vh;
        /* margin: 0 4vw 4vw 4vw; */


       
    }
    #footer{
        color: white;
        text-align: center;
        margin-top: 42vh;
    }

    


}



